#img1, #img2 {
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  width: 100%;
  height: 95vh;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

#img1 {
  background-image: url(http://i.imgur.com/brwbzHn.jpg);
}

#img2 {
  background-image: url(http://i.imgur.com/IPxcARM.jpg);
}

#our_navbar {
  margin-bottom: 0px;
}

#title {
  opacity: .75;
  text-align: center;
  position: relative;
  top: 30%;
  color: #fff;
}
