{% extends 'flix/base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ genre }}</h3>
<table id="genretable" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Movie Title</th>
        <th>Average Rating</th>
    </tr>
</thead>
<tbody>
    {% for item in top %}
    <tr>
        <td><a href="/movie/{{ item.id }}">{{ item }}</a></td>
        <td>{{ item.avg|floatformat:"-2" }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>

{% endblock %}
