{% extends 'flix/base.html' %}
{% block body %}
<!-- Image 1 -->
<div class="row" id="img1">
<div class="jumbotron" id="title">
<h1>Flix</h1>
<p>Grab your popcorn and chill.</p>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
  <h2>Explore the MovieLens Dataset</h1>
    <blockquote class="blockquote-reverse">“No good movie is too long and no bad movie is short enough.”
      <footer>Roger Ebert</footer>
    </blockquote>
  Thank you for visiting our site!  We started with a friendly, 1,000,000 ratings (from the MovieLens dataset)
  and allowed you to find your next favorite movie.  We'll show you the top 20 most highly rated films in
  our database, as well as the most frequently rated films.
  <footer> - Shannon, Richard, Max, and Tommy</footer>
  <br>
</div>
</div>
</div>
<!-- Image 2 -->
<div class="row" id="img2">
  <div class="col-md-2 col-md-offset-5">
  </div>
</div>
<div class="container">
<div class="row">
<!-- <h3> Top 20 Movies </h3>
<ol>
{% for id, title, rating in top20 %}
  <li><a href="movie/{{ id }}">{{ title }}</a>: {{ rating }}</li>
{% endfor %}
</ol> -->
<div class="col-md-6">
<h3> Top 20 Highest Rated Movies </h3>
<ol class="list-group">
  {% for id, title, rating in top20 %}
  <li class="list-group-item">
    <a href="movie/{{ id }}">{{ title }}</a>
    <span class="tag tag-default tag-pill pull-xs-right">{{ rating }}</span>
  </li>
  {% endfor %}
</ol>
</div>
<div class="col-md-6">
<h3> Top 20 Most Seen Movies </h3>
<ol class="list-group">
  {% for id, title, rating in toprated %}
  <li class="list-group-item">
    <a href="movie/{{ id }}">{{ title }}</a>
    <span class="tag tag-default tag-pill pull-xs-right">{{ rating }}</span>
  </li>
  {% endfor %}
</ol>
</div>
</div>
</div>
<div class="row" id="img3">
  <div class="col-md-2 col-md-offset-5">
  </div>
</div>
{% endblock %}
