{% extends 'flix/base.html' %}
{% block body %}
<div class="row">
<div class="col-md-5 col-md-offset-1">
<h3>{{ movie.title }}</h3>
Average Rating: {{ avg_rating }}<br>
<a href='/movie/{{ movie.id }}/rating'>Rate This Movie</a>
</div>
</div>
<div class="row">
<div class="col-md-5 col-md-offset-1">
<div class="embed-responsive embed-responsive-4by3">
<iframe name='demo' controls src="https://youtube.com/embed/{{trailer}}"></iframe>
</div>
</div>
  <div class="col-md-5 col-md-offset-1">
<ul>
  {% for rating in ratings %}
  <li><a href="/rater/{{ rating.rater_id }}">User: {{ rating.rater_id }}</a>: {{ rating.rating }}</li>
  {% endfor %}
</ul>
</div>
</div>

{% endblock %}
