{% extends 'flix/base.html' %}
{% block body %}
<div class='row'>
<div class="col-md-6">
<h3>{{ rater.user.username }}</h3>
<ul>
  <li>Gender: {{ rater.gender }}</li>
  <li>Occupation: {{ rater.occupation }}</li>
  <li>Age Range: {{ rater.age }}</li>
  <li>Zip: {{ rater.zipcode }}</li>
</ul>
</div>
<div class="col-md-6">
<h3>Recommended Movies</h3>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Movie Title</th>
    </tr>
</thead>
<tbody>
    {% for item in top_unseen%}
    <tr>
        <td><a href="/movie/{{ item.id }}">{{ item }}</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
<div class='row'>
<div class='col-md-12'>
<h3>Movies Watched</h3>
<table id="example2" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Movie Title</th>
        <th>Rating</th>
        {% if user.id == rater.id %}
        <th>Edit Rating</th>
        {% endif %}
    </tr>
</thead>
<tbody>

  {% for title, movie_id, rating in movies_rated %}
  <tr>
  <td><a href="/movie/{{ movie_id }}">{{ title }}</a></td>
     <td> {{ rating }}</td>
    {% if user.id == rater.id %}
    <td><a href='/movie/{{ movie_id }}/rating'>Edit Movie Rating</a></td>
    {% endif %}
    </tr>
  {% endfor %}

  </tbody>
</table>
</div>
</div>
</div>

{% endblock %}
